header{
  .contenedor-info {                    // datos del ministerio
    @include from-to(320px,767px)       // cambios de Estilos
      {  display:none;  }

    @include from-to(768px,1023px)
      {  background-color:$color1;
         color:$color_base;  }

    @include from(1024px)
      {  background-color:$color3;  }

   .info-datos {                       // .info-datos(ul)
      display:flex;
      justify-content:space-around;
      width:100%;

      li {
        font:lighter $fz16 $font;
        padding:10px;                   // Margenes internos de los Items

        span                            // Iconos
        { margin-right:10px; }
      }

    }

  }

}
