#slider {                                     // Slider Principal
  position:relative;
  height:480px;
  width:100%;
  img {                                       // image de slide
    border-bottom: 2px solid rgba(0,0,0,.95);
    position:absolute;
    width:100%;
  }
}

#banner {                                     // Banner Principal
  width:100%;
  img {                                       // image de slide
    border-bottom: 2px solid rgba(0,0,0,.95);
    position: absolute;
    width:100%;
  }
}
